<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <!-- top-header -->
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <div class="logo">
                    <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                </div>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>

        <!-- About page -->

        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
        <!-- who are we page -->
        <section class="about-head">
            <div class="about-1-class">
                <div class="about-2-class">
                    <div class="about-2-1-class">
                        <div class="about-2-2-class">
                            <img src="../assets/who-removebg-preview.png" width="500px" alt="">
                        </div>
                        <div class="about-2-3-class">
                            <h1>WHO WE ARE:-</h1>
                            <p>Sheer Analytics and Insights is a leading consulting firm that offers a range of services
                                including
                                business and data analytics, B2B and B2C consulting, IT FTE consultants, Translation
                                Services
                                and
                                AI-based integration. The company has built a reputation for providing exceptional
                                services
                                to
                                its
                                clients across industries, and this article explores its mission, vision, and
                                capabilities
                                in
                                detail.
                            </p>
                        </div>
                    </div>

                    <div class="about-3-1-class">
                        <div class="about-3-2-class">
                            <h1>Mission:-</h1>
                            <br>
                            <p>Sheer Analytics and Insights' mission is to provide clients with reliable, accurate, and
                                actionable
                                insights through its services. The company is committed to delivering customized
                                solutions
                                that
                                meet
                                each client's specific needs and challenges. By leveraging the latest technologies and
                                methodologies, Sheer Analytics and Insights aims to provide its clients with the
                                information
                                they
                                need to make informed business decisions.</p>
                        </div>
                        <div class="about-3-3-class">
                            <img src="../assets/181112_Blog_Feature_Mission-removebg-preview.png" width="500px" alt="">
                        </div>
                    </div>

                    <div class="about-4-1-class">
                        <div class="about-4-2-class">
                            <img src="../assets/vission-1-removebg-preview.png" alt="">
                        </div>
                        <div class="about-4-3-class">
                            <h1>Vision:-</h1>
                            <p>Sheer Analytics and Insights' vision is to be the global leader in business and data
                                analytics,
                                consulting, and IT services. The company aims to achieve this by delivering exceptional
                                services
                                to
                                its clients, developing innovative solutions that solve complex problems, and fostering
                                a
                                culture of
                                continuous improvement. Sheer Analytics and Insights' goal is to help clients achieve
                                their
                                business
                                objectives through strategic insights and customized solutions.
                            </p>
                        </div>
                    </div>
                    <h1 style="text-align: center; font-size: 1.8rem;">Capabilities:-</h1>
                    <br>



                    <div class="about-3-1-class">
                        <div class="about-3-2-class">
                            <h1>Business and Data Analytics:-</h1>
                            <br>
                            <p>Sheer Analytics and Insights has a team of experienced analysts who specialize in
                                business and
                                data analytics. The company uses a range of analytics tools and techniques, including
                                data
                                mining, machine learning, and predictive modeling, to analyze data and provide insights
                                to
                                clients. The company's analysts have a deep understanding of the industry dynamics,
                                trends, and
                                challenges that drive each business, and they use this knowledge to deliver customized
                                analytics
                                solutions that meet the specific needs of each client.</p>
                        </div>
                        <div class="about-3-3-class">
                            <img src="../assets/0-DusT2PkEv9jXNzyT.webp" width="500px" alt="">
                        </div>
                    </div>
                    <br>
                    <div class="about-4-1-class">
                        <div class="about-4-2-class">
                            <img src="../assets/konsultacje-biznesowe-1-removebg-preview.png" alt="">
                        </div>
                        <div class="about-4-3-class">
                            <h1>B2B and B2C Consulting:-</h1>
                            <p>Sheer Analytics and Insights provides B2B and B2C consulting services to help businesses
                                grow and
                                succeed. The company's consultants work closely with clients to develop customized
                                solutions
                                that meet their specific needs and challenges. Sheer Analytics and Insights' consulting
                                services
                                include market research, strategic planning, competitive analysis, and product
                                development. The
                                company's consultants have a deep understanding of the business environment and the
                                factors that
                                drive success, and they use this knowledge to help clients achieve their goals.
                            </p>
                        </div>
                    </div>
                    <br>


                    <div class="about-3-1-class">
                        <div class="about-3-2-class">
                            <h1>IT FTE Consultants:-</h1>
                            <br>
                            <p>Sheer Analytics and Insights offers IT FTE consulting services to help clients optimize their IT
                                systems. The company has a team of experienced IT consultants who specialize in various areas,
                                including cybersecurity, cloud computing, and IT infrastructure. Sheer Analytics and Insights'
                                IT consultants work closely with clients to develop customized IT solutions that meet their
                                specific needs and challenges. The company's IT consultants have a deep understanding of the
                                latest technologies and the best practices for implementing and managing IT systems.</p>
                        </div>
                        <div class="about-3-3-class">
                            <img src="../assets/fte-consulting-image-1.webp" width="500px" alt="">
                        </div>
                    </div>
                    <br>



                    <div class="about-4-1-class">
                        <div class="about-4-2-class">
                            <img src="../assets/translation-services-removebg-preview.png" alt="">
                        </div>
                        <div class="about-4-3-class">
                            <h1>Translation Services:-</h1>
                            <p>Sheer Analytics and Insights offers Translation Services to its clients in order to help them
                                achieve a global reach. The company has a team of expert translators who are proficient in
                                various languages. Sheer Analytics and Insights' Translation Services include translation of
                                business documents, market research reports, legal documents, and technical manuals. The
                                company's translators ensure that the translated documents are culturally appropriate and
                                accurate, allowing clients to communicate effectively with their target audience.
                            </p>
                        </div>
                    </div>
                    <br>


                    <div class="about-3-1-class">
                        <div class="about-3-2-class">
                            <h1>AI-Based Integration:-</h1>
                            <br>
                            <p>Sheer Analytics and Insights leverages AI-based integration to deliver high-quality services to
                                its clients. The company uses AI-based tools and techniques to analyze data, identify trends and
                                patterns, and provide insights that help businesses make informed decisions. Sheer Analytics and
                                Insights also uses AI-based integration to streamline its services and make them more efficient
                                and effective.</p>
                        </div>
                        <div class="about-3-3-class">
                            <img src="../assets/Ways-to-integrate-AI-technologies-in-Business-removebg-preview.png" width="500px" alt="">
                        </div>
                    </div>
                    <br>



                    <div class="about-4-1-class">
                        <div class="about-4-2-class">
                            <img src="../assets/certificate1.jpg" width="500px"></a>
                        </div>
                        <div class="about-4-3-class">
                            <h1 style="text-align: center; position: relative; bottom: -150px;">Our Achievement and Award:-</h1> 
                        </div>
                    </div>


                    <h1>
                    </h1>
                    <br>
                    <br>
                </div>
            </div>
        </section>


        <!--footer  -->
        <footer class="footer-head">
            <div class="footer-head-2">
                <div class="footer-head-3">
                    <h1>Sheer Analystics & Insights</h1>
                    <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                    <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                    <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                    <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="footer-head-4">
                <div class="footer-data">
                    <h3>About us</h3>
                    <br>
                    <li href="#">About</li>
                    <br>
                    <li href="#">Contact Us</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">Testiomonials</li>
                    <br>
                    <li href="#">FAQs</li>
                    <br>
                    <li href="#">Health And Safety</li>
                    <br>
                    <li href="#">Compliance</li>
                    <br>
                    <li href="#">Corporate & Social</li>
                    <br>
                    <li href="#">Industry Updates</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Consulting Services</h3>
                    <br>
                    <li href="#">Business Consulting</li>
                    <br>
                    <li href="#">Data Consulting & Analystics</li>
                    <br>
                    <li href="#">IT & Telecom Consulting Services</li>
                    <br>
                    <li href="#">Customer Tracking & Behavior Analysis</li>
                    <br>
                    <li href="#">Regulatory Enviorment Analysis</li>
                    <br>
                    <li href="#">Medical Technology Assessment</li>
                    <br>
                    <li href="#">Value chain Assessment</li>
                    <br>
                    <li href="#">Pharmaceutical Consulting</li>
                    <br>
                    <li href="#">View All Consulting Services →</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Quick Links</h3>
                    <br>
                    <li href="#">Case Studies</li>
                    <br>
                    <li href="#">Privacy policy</li>
                    <br>
                    <li href="#">Disclaimer</li>
                    <br>
                    <li href="#">Media Citations</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">HR Compliance</li>
                    <br>
                    <li href="#">Data Compliance</li>
                    <br>
                    <li href="#">GDPR Compliance</li>
                    <br>
                    <li href="#">Sitemap</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Contact Information</h3>
                    <br>
                    <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                    <br>
                    <li href="#">Phone:+1-917-730-4660</li>
                    <br>
                    <li href="#">Phone:+91-9836913164</li>
                    <br>

                    <div class="footer-image">
                        <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                    </div>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="end-footer">
                <div class="end-data">
                    <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                    <div class="social-footer">
                        <a><i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

</html>