<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>

    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>

        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
        <!-- hero section -->

        <section class="contact-container">
            <div class="contact-inner">
                <div class="contact-inner-1">
                    <div class="contact-inner-1-1">
                        <div class="contact-inner-1-2">
                            <h3>Contact Research<br>Representative</h3>
                        </div>

                        <div class="contact-inner-1-3">

                            <p class="contact-pera">
                                Please fill out the form to enable our<br>research representatives to contact you at the
                                earliest.
                            </p>

                            <div class="contact-inner-1-4">
                                <div class="contact-card010">
                                    <img src="../assets/contact-phone-icon.png">
                                    <p class="number-contact">1-888-600-6441
                                        <br>
                                        (Corporate Office hours)
                                    </p>
                                </div>
                            </div>

                            <div class="contact-inner-1.4">
                                <div class="contact-card010">
                                    <img src="../assets/contact-phone-icon.png">
                                    <p class="number-contact">1-888-600-6441
                                        <br>
                                        US/Can Toll Free
                                    </p>
                                </div>
                            </div>

                            <div class="contact-inner-1.4">
                                <div class="contact-card010">
                                    <img src="../assets/contact-phone-icon.png">
                                    <p class="number-contact">1-888-600-6441
                                        <br>
                                        (UK Office Hours)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-contact">
                    <div class="form-contact1">
                        <div class="name1">
                            <label class="font-15">Full Name <span>*</span></label>
                            <input type="text">
                        </div>

                        <div class="Job1">
                            <label class="font-15">Job Title <span>*</span></label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="form-contact1">
                        <div class="company1">
                            <label class="font-15">company Name<span>*</span></label>
                            <input type="text">
                        </div>

                        <div class="phone1">
                            <label class="font-15">Phone No<span>*</span></label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="form-contact1">
                        <div class="email1">
                            <div class="icon01">
                            </div>
                          <p><i class="far fa-envelope"></i><input type="text"></p>
                        </div>
                    </div>


                    <div class="form-contact1">
                        <div class="select1">
                            <label class="font-15">Country</label>
                            <select class="form-select" id="country" name="country">
                                <option>select country</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, Democratic Republic of the Congo</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Cote D'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curacao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and Mcdonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="XK">Kosovo</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libyan Arab Jamahiriya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova, Republic of</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthelemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="CS">Serbia and Montenegro</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.s.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="Industry">
                            <label class="font-15">Industry</label>
                            <select class="company-select" id="inudstry" name="Imdustry">
                                <option value="">Choose Industry</option>
                                <option value="ad">Aerospace and Defence</option>
                                <option value="at">Automotive and Transportaion</option>
                                <option value="cm">Chemical and Materials</option>
                                <option value="ep">Energy and power</option>
                                <option value="fb">Food and Beverage</option>
                                <option value="hh">Healthcare</option>
                                <option value="ict">Information and Communication Technology</option>
                                <option value="pcm">Packaging Construction and Mining</option>
                                <option value="se">Semiconductor and Electronics</option>
                                <option value="or">Other</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="text-area1">
                        <label for="Message" class="font-15">Message</label>
                        <textarea name="Message" id="Message1" cols="87" rows="8"></textarea>

                    </div>

                    <div class="contact-last">
                        <div class="contact-btn">
                            <div class="contact-btn-inner">
                                <a href="#">SEND US EMAIL</a>
                            </div>
                        </div>

                        <div class="policy-form">
                            <p>By clicking the "Submit" button, you are agreeing to the <a href="#">Terms of Use</a> and
                            <a href="#">Privacy Policy.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location">
                <p><iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7368.563671859073!2d88.4286841348877!3d22.56856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275ae915f5ad7%3A0x2edeab4b32452ec4!2sRegus%20-%20Kolkata%20Salt%20Lake%20V!5e0!3m2!1sen!2sus!4v1683283533125!5m2!1sen!2sus"
                        width="1200" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </section>

        <!--footer  -->
        <footer class="footer-head">
            <div class="footer-head-2">
                <div class="footer-head-3">
                    <h1>Sheer Analystics & Insights</h1>
                    <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                    <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                    <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                    <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="footer-head-4">
                <div class="footer-data">
                    <h3>About us</h3>
                    <br>
                    <li href="#">About</li>
                    <br>
                    <li href="#">Contact Us</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">Testiomonials</li>
                    <br>
                    <li href="#">FAQs</li>
                    <br>
                    <li href="#">Health And Safety</li>
                    <br>
                    <li href="#">Compliance</li>
                    <br>
                    <li href="#">Corporate & Social</li>
                    <br>
                    <li href="#">Industry Updates</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Consulting Services</h3>
                    <br>
                    <li href="#">Business Consulting</li>
                    <br>
                    <li href="#">Data Consulting & Analystics</li>
                    <br>
                    <li href="#">IT & Telecom Consulting Services</li>
                    <br>
                    <li href="#">Customer Tracking & Behavior Analysis</li>
                    <br>
                    <li href="#">Regulatory Enviorment Analysis</li>
                    <br>
                    <li href="#">Medical Technology Assessment</li>
                    <br>
                    <li href="#">Value chain Assessment</li>
                    <br>
                    <li href="#">Pharmaceutical Consulting</li>
                    <br>
                    <li href="#">View All Consulting Services →</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Quick Links</h3>
                    <br>
                    <li href="#">Case Studies</li>
                    <br>
                    <li href="#">Privacy policy</li>
                    <br>
                    <li href="#">Disclaimer</li>
                    <br>
                    <li href="#">Media Citations</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">HR Compliance</li>
                    <br>
                    <li href="#">Data Compliance</li>
                    <br>
                    <li href="#">GDPR Compliance</li>
                    <br>
                    <li href="#">Sitemap</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Contact Information</h3>
                    <br>
                    <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                    <br>
                    <li href="#">Phone:+1-917-730-4660</li>
                    <br>
                    <li href="#">Phone:+91-9836913164</li>
                    <br>

                    <div class="footer-image">
                        <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                    </div>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="end-footer">
                <div class="end-data">
                    <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                    <div class="social-footer">

                        <a><i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

</html>