<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SAI</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <!-- top-nevigation -->
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png"
                        width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>
        <!-- hero section -1  -->

        <div class="hero-section-1">
            <div class="hero-section-content">
                <div class="hero-section-content-head">
                    <h2>Dependable and Unbiased industry Market Research Report
                    </h2>
                </div>

                <div class="hero-section-content-pera">
                    <p>Our industry reports provide accurate data, insightful analysis and up to date information on the
                        changing global industry landscape</p>
                    <br>

                    <a href="market-research.html"><button class="text-btn">STAY AHEAD WITH INSIGHTS</button></a>
                </div>

                <div class="hero-section-image">
                    <img src="../assets/Credence-Research-1.webp">
                </div>
            </div>
        </div>



        <!-- hero section-2-->

        <div class="hero-section-text-display">
            <div class="hero-section-display-head">
                <h1 style=" font-size: 44px; text-align: center;">Some Facts
                    <br>
                    About <span style="color: #282269 ; font-size: 44px;">Sheer AnalyticsResearch</span>
                </h1>
            </div>
            <div class="partition-border">
                <hr class="partition" style="width: 8%; height: 3px; background-color: blue;">
                </hr>
            </div>
            <div class="company-average">
                <div class="chid-avarage">

                    <div class="child1">
                        <p class="p-num">3,200+</p>
                        <p class="p-pera">Reports Published</p>
                    </div>

                    <div class="child1">
                        <p class="p-num">151+</p>
                        <p class="p-pera">Analystics and Consultants</p>
                    </div>

                    <div class="child1">
                        <p class="p-num">300+</p>
                        <p class="p-pera">Consulting Projects Per Year</p>
                    </div>

                    <div class="child1">
                        <p class="p-num">80%</p>
                        <p class="p-pera">Of Fortune 1000 Are Our Clients</p>
                    </div>

                </div>
            </div>
        </div>


        <!-- marquee comapanies -->

        <hr class="partition-footer">

        <section class="responsiveSection responsiveSection--withDivider padding-vertical-40"
            aria-labelledby="homeLogosTitle">
            <div class="responsiveSection__grid">
                <p id="homeLogosTitle" class="showMobile home__logoTitle font-size-l text-center">
                    Trusted by more than 23,000 companies
                </p>
                <div class="homeLogoList" tabindex="0"><span
                        class="homeLogoList__item sprite-logo logo-google-grayblue"></span><span
                        class="homeLogoList__item sprite-logo logo-samsung-grayblue"></span><span
                        class="homeLogoList__item sprite-logo logo-paypal-grayblue"></span><span
                        class="homeLogoList__item sprite-logo logo-telekom-grayblue"></span><span
                        class="homeLogoList__item sprite-logo logo-adobe-grayblue"></span><span
                        class="homeLogoList__item sprite-logo logo-pg-grayblue"></span></div>
                <div class="hideMobile home__logoTitle--hover sectionRooftitle">
                    Trusted by more than 23,000 companies
                </div>
            </div>
            <hr class="partition-footer">
        </section>

        <!-- what we do page -->
        <div class="father-1">
            <div class="father-2">
                <p>INFORMED DECISIONS START HERE</p>
            </div>

            <div class="father-3">
                <h2>What<span> We do</span></h2>
            </div>

            <div class="father-4">
                <p>Helping businesses navigate the constantly evolving market landscape by unlocking <br>the power of
                    market
                    intelligence.</p>
            </div>

            <div class="father-5">
                <div class="father-6">
                    <img src="../assets/credence-research-icon-1.webp" width="58" ; height="66">
                    <h3 class="heading-f5">Sheer Analystics</h3>
                    <p>Sheer analytics is a leading global market research and counseling firm that helps organizations
                        to achieve their goals through targeted market research and guidance.</p>
                    <br>
                    <br>
                    <a href="sai-research.html">Read More →</a>
                </div>

                <div class="father-7">
                    <img src="../assets/Credence-Research-2.webp" width="58" ; height="66">
                    <h3 class="heading-f5">Sheer Consulting</h3>
                    <p>As a top market research and consulting firm, Sheer analytics empowers organizations to make
                        data-driven decisions and stay ahead of the competition.</p>
                    <br>
                    <br>
                    <a href="resources-nav.html">Read More →</a>
                </div>

                <div class="father-8">
                    <img src="../assets/Credence-Reports-icon-3.webp" width="58" ; height="66">
                    <h3 class="heading-f5">Sheer Reports</h3>
                    <p>We pride ourselves on delivering comprehensive, accurate market research, and our 300+ annual
                        reports. Each report includes a 7-year forecast to help our clients plan for the future.</p>
                    <br>
                    <br>
                    <a href="consumer-page.html">Read More →</a>
                </div>
            </div>

            <div class="father-9">
                <p>In addition to our core services, we also offer a range of specialized solutions to help<br>our
                    clients
                    achieve their goals.</p>
            </div>

            <div class="father-10">
                <a href="busines-consulting.html"><button>View All Services</button></a>
            </div>
        </div>
        <!-- published reports -->
        <div class="fastx1" style="background-color: #f8f8f8; width: 100%;">
            <div class="fastx2head">
                <div class="fastx2">
                    <h1>Published <span>Report</span></h1>
                    <a href="market-research.html">View All →</a>
                </div>
            </div>

            <div class="fastx3">

                <div class="fastx4">
                    <a href="#"><img src="../assets/Automotive-Transportation.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automation Selective<br>
                            Catalystic Reduction...
                        </a>

                        <p class="childx-pera">The global automotive<br>selective catalytic reduction....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>
                <div class="fastx5">
                    <a href="#"><img src="../assets/semiconductor-electronics.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automotive Keyless<br>Entry System Market</a>

                        <p class="childx-pera">The global Automotive<br>Keyless Entry System market....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>
                <div class="fastx6">
                    <a href="#"><img src="../assets/Banking-Financial-Services.webp" width="240" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automotive Finance<br>Market
                        </a>

                        <p class="childx-pera">The global Automotive<br>Finance market is...</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>

                <div class="fastx7">
                    <a href="#"><img src="../assets/Advanced-Materials.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automation Selective<br>
                            Catalystic Reduction...
                        </a>

                        <p class="childx-pera">The global automotive<br>selective catalytic reduction....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>

            </div>
            <div class="fastx8">
                <a href="market-research.html"><button>View All Published Reports</button></a>
            </div>

        </div>

        <!-- explore your industry -->

        <section class="indus1">
            <div class="indus2">
                <div class="indus3">
                    <h2>EXPLORE YOUR INDUSTRY</h2>
                    <p>Market research that is consistently on-point across a wide range of industries</p>
                </div>
                <div class="indus4">
                    <div class="indus5">
                        <a href="#"><h1>Advanced Materials</h1></a>
                        <a href="#"><h1>Aerospace & Defence</h1></a>
                        <a href="#"><h1>Agriculture</h1></a>
                        <a href="#"><h1>Automation</h1></a>
                        <a href="#"><h1>Biotechnology</h1></a>                        <a href="#"><h1>Energy & Power</h1></a>
                        <a href="#"><h1>Pharmaceuticals</h1></a>
                    </div>

                    <div class="indus6">
                        <h1>-Advance Materials-</h1>
                        
                        <div class="indus7">

                            <li class="indus8">
                                <p class="dob8">May 20,2023</p>

                                <h5>Membrane Separation Technologies Market</h5>

                                <p class="known8">The global membrane separation technologies market is anticipated to grow at a substantial....</p>

                                <p class="btn-indus"><a href="#">Read More -></a></p>
                            </li>
                            
                            <li class="indus8">
                                <p class="dob8">May 20,2023</p>

                                <h5>Membrane Separation Technologies Market</h5>

                                <p class="known8">The global membrane separation technologies market is anticipated to grow at a substantial....</p>
                                
                                <p class="btn-indus"><a href="#">Read More -></a></p>
                            </li>


                        </div>

                        <div class="indus7">

                            <li class="indus8">
                                <p class="dob8">May 20,2023</p>

                                <h5>Membrane Separation Technologies Market</h5>

                                <p class="known8">The global membrane separation technologies market is anticipated to grow at a substantial....</p>

                                <p class="btn-indus"><a href="#">Read More -></a></p>
                            </li>
                            
                            <li class="indus8">
                                <p class="dob8">May 20,2023</p>

                                <h5>Membrane Separation Technologies Market</h5>

                                <p class="known8">The global membrane separation technologies market is anticipated to grow at a substantial....</p>
                                
                                <p class="btn-indus"><a href="#">Read More -></a></p>
                            </li>


                        </div>

                        <div class="indus-btn">
                            <a href="#">View All Advance Materials Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- press relase -->
        <div class="fastx1" style="background-color: #f8f8f8; width: 100%;">
            <div class="fastx2head">
                <div class="fastx2">
                    <h1>Latest Blog & <span>Report</span></h1>
                    <a href="market-research.html">View All →</a>
                </div>
            </div>

            <div class="fastx3">

                <div class="fastx4">
                    <a href="#"><img src="../assets/Automotive-Transportation.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automation Selective<br>
                            Catalystic Reduction...
                        </a>

                        <p class="childx-pera">The global automotive<br>selective catalytic reduction....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>
                <div class="fastx5">
                    <a href="#"><img src="../assets/semiconductor-electronics.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automotive Keyless<br>Entry System Market</a>

                        <p class="childx-pera">The global Automotive<br>Keyless Entry System market....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>
                <div class="fastx6">
                    <a href="#"><img src="../assets/Banking-Financial-Services.webp" width="240" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automotive Finance<br>Market
                        </a>

                        <p class="childx-pera">The global Automotive<br>Finance market is...</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>

                <div class="fastx7">
                    <a href="#"><img src="../assets/Advanced-Materials.webp" width="260" height="200px"
                            style="object-fit: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;"></a>
                    <div class="childx1">
                        <p class="dob">Apr 28, 2023</p>

                        <a class="head-childx">Automation Selective<br>
                            Catalystic Reduction...
                        </a>

                        <p class="childx-pera">The global automotive<br>selective catalytic reduction....</p>

                        <a href="#" class="child-icon">Read More →</a>
                    </div>
                </div>

            </div>
            <div class="fastx8">
                <a href="market-research.html"><button>View All Published Reports</button></a>
            </div>

        </div>

        <!-- testimonials -->
        <div class="perentchildx-1">
            <div class="perentchildx-2">
                <h2>What people say<br><span style="color:black" ;>about Sheer Analytics ?</span></h2>
            </div>
            <div class="perentchildx-3">
                <div class="perentchildx-4">
                    <a href="#" class="user-logo"><img src="../assets/user_1x-100x100.webp"></a>

                    <p class="perent-pera">
                        The report was really helpful and the quality was great. Overall it is nice work to understand
                        the
                        comprehensive outlook of the industry. We will certainly register their services in future and
                        will
                        recommend others as well.
                    </p>

                    <a href="https://www.panasonic.com/in/" class="perent-head"> Panasonic →</a>
                </div>

                <div class="perentchildx-5">
                    <a href="#" class="user-logo"><img src="../assets/user_1x-100x100.webp"></a>

                    <p class="perent-pera">
                        It was great working with your team. The report was extremely helpful and gave a deep insight
                        into
                        the market. We definitely got the best value for money in terms of investment. Look forward to
                        hiring your expertise in future as well.
                    </p>

                    <a href="https://www.thalesgroup.com/en" class="perent-head">Thales →</a>
                </div>

                <div class="perentchildx-6">
                    <a href="#" class="user-logo"><img src="../assets/user_1x-100x100.webp"></a>

                    <p class="perent-pera">
                        Sheer Analytics and Insights provided an extremely detailed and in-depth report that was
                        extremely
                        helpful for our business decision making needs. The report was excellent and great value for our
                        investment.
                    </p>

                    <a href="https://www.lcygroup.com/lcygroup/en/" class="perent-head">LCY → </a>
                </div>

            </div>

            <div class="perentchildx-7">
                <a href="testimonial.html"><button class="perentchildx-btn">View All Testimonials</button></a>
            </div>
        </div>



        <!-- form -->
        <header class="hero">
            <div class="hero-inner">

                <div class="hero-text">
                    <h2>Newsletter Subscription</h2>
                    <p>Become a member of the market research community and receive the latest updates and information.
                    </p>
                    <form class="hero-form" action="/">
                        <div class="hero-form-input">
                            <input class="hero-email-input" type="email" , placeholder="Email Address" required>
                            <input class="hero-form-submit" type="submit" , value="Sign Up">
                        </div>
                    </form>
                </div>

                <div class="hero-image">
                    <!-- Image: undraw.co -->
                    <img src="https://assets.codepen.io/495197/undraw_Newsletter_re_wrob.svg" />
                </div>

            </div>
        </header>



        <!-- footer -->
        <footer class="footer-head">
            <div class="footer-head-2">
                <div class="footer-head-3">
                    <h1>Sheer Analystics & Insights</h1>
                    <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                    <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                    <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                    <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="footer-head-4">
                <div class="footer-data">
                    <h3>About us</h3>
                    <br>
                    <li href="#">About</li>
                    <br>
                    <li href="#">Contact Us</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">Testiomonials</li>
                    <br>
                    <li href="#">FAQs</li>
                    <br>
                    <li href="#">Health And Safety</li>
                    <br>
                    <li href="#">Compliance</li>
                    <br>
                    <li href="#">Corporate & Social</li>
                    <br>
                    <li href="#">Industry Updates</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Consulting Services</h3>
                    <br>
                    <li href="#">Business Consulting</li>
                    <br>
                    <li href="#">Data Consulting & Analystics</li>
                    <br>
                    <li href="#">IT & Telecom Consulting Services</li>
                    <br>
                    <li href="#">Customer Tracking & Behavior Analysis</li>
                    <br>
                    <li href="#">Regulatory Enviorment Analysis</li>
                    <br>
                    <li href="#">Medical Technology Assessment</li>
                    <br>
                    <li href="#">Value chain Assessment</li>
                    <br>
                    <li href="#">Pharmaceutical Consulting</li>
                    <br>
                    <li href="#">View All Consulting Services →</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Quick Links</h3>
                    <br>
                    <li href="#">Case Studies</li>
                    <br>
                    <li href="#">Privacy policy</li>
                    <br>
                    <li href="#">Disclaimer</li>
                    <br>
                    <li href="#">Media Citations</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">HR Compliance</li>
                    <br>
                    <li href="#">Data Compliance</li>
                    <br>
                    <li href="#">GDPR Compliance</li>
                    <br>
                    <li href="#">Sitemap</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Contact Information</h3>
                    <br>
                    <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                    <br>
                    <li href="#">Phone:+1-917-730-4660</li>
                    <br>
                    <li href="#">Phone:+91-9836913164</li>
                    <br>

                    <div class="footer-image">
                        <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                    </div>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="end-footer">
                <div class="end-data">
                    <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                    <div class="social-footer">
                        <a><i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <!-- js -->
    <script src="../script.js"></script>
</body>

</html>