<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>

        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1 style="text-align: center;">News & Reports:-<br>
                        <br>
                        Europe targets to become self-sufficient in semiconductor technology
                    </h1>
                </div>
            </div>


            <!-- hero section  -->
            <section class="news-container">
                <div class="aside">
                    <h1 class="heading-news" style="font-size: 1.5rem; text-align: center; color: #007bff;">In the News
                    </h1>
                    <ul>
                        <!-- <li><a href="#">In The News</a></li> -->
                        <li><a href="CEE2.html">Whitepaper</a></li>
                        <li><a href="press.html">Press Release</a></li>
                    </ul>
                </div>


                <div class="right-side">

                    <div class="right-inside-inner-1">
                        <img src="../assets/europe-semiconductor-technology.jpg" width="800px">
                    </div>

                    <div class="right-inside-inner-border">
                        <div class="right-inside-inner0">
                            <div class="right-data-inside">
                                <h3>Europe targets to become self-sufficient in semiconductor technology</h3>

                                <p class="date-of-inside">Published :
                                    September 2021
                                </p>

                                <p>European Commission President Ursula von der Leyen proposed European Chips Act on
                                    15th
                                    September 2021. According to this Act government of respective countries in Europe
                                    will
                                    invest in creating state of art facility in Europe and incasing overall production
                                    of
                                    semiconductor products. This Act was proposed to make Europe self sufficient in
                                    manufacturing chipsets for mobile phones and other consumer electronics related
                                    products. This will curb down its dependency on Asian as well as North American
                                    countries for semiconductors devices procurement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!--footer  -->
            <footer class="footer-head">
                <div class="footer-head-2">
                    <div class="footer-head-3">
                        <h1>Sheer Analystics & Insights</h1>
                        <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                        <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                        <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                        <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                    </div>
                </div>
                <hr class="partition-footer">

                <div class="footer-head-4">
                    <div class="footer-data">
                        <h3>About us</h3>
                        <br>
                        <li href="#">About</li>
                        <br>
                        <li href="#">Contact Us</li>
                        <br>
                        <li href="#">Our Clients</li>
                        <br>
                        <li href="#">Testiomonials</li>
                        <br>
                        <li href="#">FAQs</li>
                        <br>
                        <li href="#">Health And Safety</li>
                        <br>
                        <li href="#">Compliance</li>
                        <br>
                        <li href="#">Corporate & Social</li>
                        <br>
                        <li href="#">Industry Updates</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Consulting Services</h3>
                        <br>
                        <li href="#">Business Consulting</li>
                        <br>
                        <li href="#">Data Consulting & Analystics</li>
                        <br>
                        <li href="#">IT & Telecom Consulting Services</li>
                        <br>
                        <li href="#">Customer Tracking & Behavior Analysis</li>
                        <br>
                        <li href="#">Regulatory Enviorment Analysis</li>
                        <br>
                        <li href="#">Medical Technology Assessment</li>
                        <br>
                        <li href="#">Value chain Assessment</li>
                        <br>
                        <li href="#">Pharmaceutical Consulting</li>
                        <br>
                        <li href="#">View All Consulting Services →</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Quick Links</h3>
                        <br>
                        <li href="#">Case Studies</li>
                        <br>
                        <li href="#">Privacy policy</li>
                        <br>
                        <li href="#">Disclaimer</li>
                        <br>
                        <li href="#">Media Citations</li>
                        <br>
                        <li href="#">Our Clients</li>
                        <br>
                        <li href="#">HR Compliance</li>
                        <br>
                        <li href="#">Data Compliance</li>
                        <br>
                        <li href="#">GDPR Compliance</li>
                        <br>
                        <li href="#">Sitemap</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Contact Information</h3>
                        <br>
                        <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                        <br>
                        <li href="#">Phone:+1-917-730-4660</li>
                        <br>
                        <li href="#">Phone:+91-9836913164</li>
                        <br>

                        <div class="footer-image">
                            <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                        </div>
                    </div>
                </div>
                <hr class="partition-footer">

                <div class="end-footer">
                    <div class="end-data">
                        <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                        <div class="social-footer">
                       
                            <a><i class="fa-brands fa-facebook"></i></a>
                            <a><i class="fa-brands fa-twitter"></i></a>
                            <a><i class="fa-brands fa-linkedin"></i></a>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
</body>

</html>