<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>

        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1>News & Reports</h1>
                </div>
            </div>


            <!-- hero section  -->
            <section class="news-container">
                <div class="aside">
                    <ul>
                        <li><a href="#">In The News</a></li>
                        <li><a href="CEE2.html">Whitepaper</a></li>
                        <li><a href="press.html">Press Release</a></li>
                    </ul>
                </div>
            </section>

            <!-- new line -->
            <div class="block-head-1">
                <div class="container-test">
                    <div class="row-test">
                        <div class="col-lg-12-test">
                            <div class="featuredPropBox">
                                <ul>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>Europe targets to become self-sufficient in semiconductor technology</h1>>
                                            </div>
                                            <div class="fptext">
                                                <p>European Commission President Ursula von der Leyen proposed European Chips Act on 15th September 2021.</p>
                                                <a href="resource-insde.html">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>Bestow, Inc. acquire Centurion life insurance in 2.4 million deal</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>Bestow, a digital insurance company based in Dallas, Texas, acquired Centurion life insurance, a Wells Fargo Company, in a deal of $2.4 million. Centurion life insurance had the license in 48 states of the U.S. </p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>COVID-19: India Follows Russia In Expedited Approval Of Favipiravir</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>The world has been experimenting with numerous drugs ever since COVID-19 broke out, and we are yet to reach any conclusion. And, once the patent on Favipiravir expired, there has been a spike in the number of pharmaceutical organizations trying out the drub and other derivatives of it to look for answers.</p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>


                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>The Great Divide: Is Hydroxychloroquine The Promised Elixir Or Harbinger Of COVID-19?</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>There are nations that have banned its sale, while there are those that still have faith! Hydroxychloroquine has created a rift across the world and even the scientific community as a whole.</p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>Analytical Democracy– A Predictive Analysis Based Psephology Report On General Election 2019</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>As every political party gears up to gain the public approval, we at Sheer Analytics and Insights Pvt. Ltd. performed our own predictive analysis to come to a probable result of the Lok Sabha Election 2019.</p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>After PUBG, Call Of Duty Mobile On Tencent Radar: Launch Expected Soon!</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>For teenagers and children, gaming has always been a matter of craze and immense joy. Decades ago, computer games were the only source of gaming.
                                                </p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>


                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>Xiaomi To Launch Its Very First Foldable Smartphone In India</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>Since its very advent, smartphones have made numerous modifications. With varieties of smartphone devices making its entry into the market, the major players are doing their best to retain their position in the global market.</p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>
                                                    Apple Blames Customers As It Faces Difficulties In Selling iPhones</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>Apple Inc. is likely to face issues owing to dipping sales figure of iPhones. Apple CEO Tim Cook has recently revealed in a letter to the investors that the company has been witnessing a weaker demand for iPhones with the consumer upgrade cycles becoming longer.</p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>
                                    <li> <a href="#">
                                            <div class="fplogo">
                                                <h1>Amazon acquires Indian hypermarket chain More for $580 million</h1>
                                            </div>
                                            <div class="fptext">
                                                <p>Amazon and Samara Capital, the Indian private equity firm has recently acquired More, an Indian hypermarket and supermarket chain for $580.35 million. </p>
                                                <a href="#">Read more:-</a>
                                            </div>
                                        </a> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer  -->
        <footer class="footer-head">
            <div class="footer-head-2">
                <div class="footer-head-3">
                    <h1>Sheer Analystics & Insights</h1>
                    <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                    <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                    <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                    <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="footer-head-4">
                <div class="footer-data">
                    <h3>About us</h3>
                    <br>
                    <li href="#">About</li>
                    <br>
                    <li href="#">Contact Us</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">Testiomonials</li>
                    <br>
                    <li href="#">FAQs</li>
                    <br>
                    <li href="#">Health And Safety</li>
                    <br>
                    <li href="#">Compliance</li>
                    <br>
                    <li href="#">Corporate & Social</li>
                    <br>
                    <li href="#">Industry Updates</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Consulting Services</h3>
                    <br>
                    <li href="#">Business Consulting</li>
                    <br>
                    <li href="#">Data Consulting & Analystics</li>
                    <br>
                    <li href="#">IT & Telecom Consulting Services</li>
                    <br>
                    <li href="#">Customer Tracking & Behavior Analysis</li>
                    <br>
                    <li href="#">Regulatory Enviorment Analysis</li>
                    <br>
                    <li href="#">Medical Technology Assessment</li>
                    <br>
                    <li href="#">Value chain Assessment</li>
                    <br>
                    <li href="#">Pharmaceutical Consulting</li>
                    <br>
                    <li href="#">View All Consulting Services →</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Quick Links</h3>
                    <br>
                    <li href="#">Case Studies</li>
                    <br>
                    <li href="#">Privacy policy</li>
                    <br>
                    <li href="#">Disclaimer</li>
                    <br>
                    <li href="#">Media Citations</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">HR Compliance</li>
                    <br>
                    <li href="#">Data Compliance</li>
                    <br>
                    <li href="#">GDPR Compliance</li>
                    <br>
                    <li href="#">Sitemap</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Contact Information</h3>
                    <br>
                    <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                    <br>
                    <li href="#">Phone:+1-917-730-4660</li>
                    <br>
                    <li href="#">Phone:+91-9836913164</li>
                    <br>

                    <div class="footer-image">
                        <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                    </div>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="end-footer">
                <div class="end-data">
                    <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                    <div class="social-footer">
                        <p>Social :</p>
                        <a><i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

</html>