<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>
        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1>About Sheer Analystics</h1>
                </div>
            </div>

            <!--main section-->


            <section class="about-sai-page-head">
                <div class="about1">
                    <h1>Who we are</h1>
                    <br>
                    <p>Sheer analystics is a viable intelligence and market research platform that provides quantitative
                        B2B research to more than 10,000 clients worldwide and is built on the Give principle. The
                        company is a market research and consulting firm serving governments, non-legislative
                        associations, non-profit organizations, and various organizations worldwide. We help our clients
                        improve their execution in a lasting way and understand their most imperative objectives. For
                        nearly a century, we’ve built a company well-prepared for this task.</p>
                    <div class="image-list1">
                        <div class="image-about1">
                            <img src="../assets/Market-Research-Reports-By-Credence-Research.png" alt="" width="400px"
                                height="300px">
                        </div>

                        <div class="list01">
                            <div class="list-01">
                                <ul>
                                    <li>sheer Research is a global company with more than 15 research consultants and
                                        nearly 100 research and information professionals.</li>

                                    <li>Our clients reflect our global nature. About 45% are in Europe, 30% in the
                                        Americas, 13% in the Asia Pacific, and 12% in the Middle East and Africa.</li>

                                    <li>Our company aims to work as a whole. We are an isolated global research
                                        organization with a solid portfolio of qualities focused on client impact.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>

                    <h1>What we do</h1>
                    <br>
                    <p class="pera-about010">sheer Research is an alternative to growth consulting and project
                        management, leveraging human-machine services to drive extraordinary growth for progressive
                        organizations in the B2B space. We have the broadest view of emerging technologies, enabling us
                        to co-create exceptional growth for our clients.</p>
                    <p class="pera-about010">As a trusted advisors to top management or a practical mentor to frontline
                        representatives, we serve clients at all levels of their organization, no matter how helpful we
                        can be. We gather a group with the most appropriate experience and abilities for each
                        participation. Whatever the challenge, we focus on delivering practical and lasting results and
                        preparing our clients for development and leadership. We work with our clients to put
                        recommendations into practice.</p>
                    <p class="pera-about010">Our research experts work directly with clients on a long-term basis to
                        develop workforce capabilities, drive operational change and apply new work strategies. We
                        provide market intelligence research, ensuring relevant and fact-based research across various
                        industries, including energy, healthcare and technology, chemicals and materials. With an
                        in-depth understanding of many business environments, Grand View Research provides strategic
                        targeting insights.</p>
                    <p class="pera-about010">The B2B economy has seen the emergence of $25 trillion in new revenue
                        streams replacing existing ones in this decade alone. We partner with our clients to develop
                        growth plans to help them monetize this opportunity through our five service lines:</p>

                    <ul class="listed010">
                        <li>Customer Support</li>
                        <li>Go-To-Market Strategy to Execution</li>
                        <li>Market Share Gains</li>
                        <li>Total Addressable Market Expansion</li>
                        <li>Thought Leadership Marketing</li>
                    </ul>
                    <br>
                    <p>Our market intelligence integrates our research to facilitate interconnect analysis through
                        applications that help clients view the entire ecosystem and understand revenue changes
                        occurring in their industries.</p>
                    <br>

                    <div class="about-content-graph">
                        <div class="about-content-head">
                            <h1>What makes us different?</h1>
                            <br>
                            <img src="../assets/about-us.png" alt="" width="583" height="492">
                        </div>


                        <!-- <div class="about-content-graph-1"> -->
                        <div class="about-content-head2">
                            <h1>Our Delivery Model</h1>
                            <br>
                            <img src="../assets/about-us-1.png" alt="" width="452" height="354">
                        </div>
                    </div>
                </div>

                <div class="get-touch-page">
                    <div class="get-touch-content">
                        <div class="get-touch-pera">
                            <p>Get In Touch With Our Team On How We Can Help You</p>
                        </div>
                        <div class="get-touch-button">
                            <a href="contect.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </section>


            <!-- form -->
            <header class="hero">
                <div class="hero-inner">
    
                    <div class="hero-text">
                        <h2>Newsletter Subscription</h2>
                        <p>Become a member of the market research community and receive the latest updates and information.</p>
                        <form class="hero-form" action="/">
                            <div class="hero-form-input">
                                <input class="hero-email-input" type="email" , placeholder="Email Address" required>
                                <input class="hero-form-submit" type="submit" , value="Sign Up">
                            </div>
                        </form>
                    </div>
    
                    <div class="hero-image">
                        <!-- Image: undraw.co -->
                        <img src="https://assets.codepen.io/495197/undraw_Newsletter_re_wrob.svg" />
                    </div>
    
                </div>
            </header>
            <!--footer  -->
            <footer class="footer-head">
                <div class="footer-head-2">
                    <div class="footer-head-3">
                        <h1>Sheer Analystics & Insights</h1>
                        <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                        <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                        <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                        <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                    </div>
                </div>
                <hr class="partition-footer">

                <div class="footer-head-4">
                    <div class="footer-data">
                        <h3>About us</h3>
                        <br>
                        <li href="#">About</li>
                        <br>
                        <li href="#">Contact Us</li>
                        <br>
                        <li href="#">Our Clients</li>
                        <br>
                        <li href="#">Testiomonials</li>
                        <br>
                        <li href="#">FAQs</li>
                        <br>
                        <li href="#">Health And Safety</li>
                        <br>
                        <li href="#">Compliance</li>
                        <br>
                        <li href="#">Corporate & Social</li>
                        <br>
                        <li href="#">Industry Updates</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Consulting Services</h3>
                        <br>
                        <li href="#">Business Consulting</li>
                        <br>
                        <li href="#">Data Consulting & Analystics</li>
                        <br>
                        <li href="#">IT & Telecom Consulting Services</li>
                        <br>
                        <li href="#">Customer Tracking & Behavior Analysis</li>
                        <br>
                        <li href="#">Regulatory Enviorment Analysis</li>
                        <br>
                        <li href="#">Medical Technology Assessment</li>
                        <br>
                        <li href="#">Value chain Assessment</li>
                        <br>
                        <li href="#">Pharmaceutical Consulting</li>
                        <br>
                        <li href="#">View All Consulting Services →</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Quick Links</h3>
                        <br>
                        <li href="#">Case Studies</li>
                        <br>
                        <li href="#">Privacy policy</li>
                        <br>
                        <li href="#">Disclaimer</li>
                        <br>
                        <li href="#">Media Citations</li>
                        <br>
                        <li href="#">Our Clients</li>
                        <br>
                        <li href="#">HR Compliance</li>
                        <br>
                        <li href="#">Data Compliance</li>
                        <br>
                        <li href="#">GDPR Compliance</li>
                        <br>
                        <li href="#">Sitemap</li>
                        <br>
                    </div>

                    <div class="footer-data">
                        <h3>Contact Information</h3>
                        <br>
                        <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                        <br>
                        <li href="#">Phone:+1-917-730-4660</li>
                        <br>
                        <li href="#">Phone:+91-9836913164</li>
                        <br>

                        <div class="footer-image">
                            <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                        </div>
                    </div>
                </div>
                <hr class="partition-footer">

                <div class="end-footer">
                    <div class="end-data">
                        <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                        <div class="social-footer">
                            
                            <a><i class="fa-brands fa-facebook"></i></a>
                            <a><i class="fa-brands fa-twitter"></i></a>
                            <a><i class="fa-brands fa-linkedin"></i></a>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
</body>

</html>