<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/ceb53b61bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="sai">
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <a href="index.html"><img src="../assets/sai_logo-8bdcb86c43808dfb831384efccd61b52.png" width="200px"></a>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name">SHEER ANALYTICS</span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="index.html">INDUSTRY REPORTS</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="consumer-page.html">CONSUMER ORIENTED SECTOR</a></li>
                                <li><a href="technology-page.html">TECHNOLOGY SECTOR</a></li>
                                <li><a href="Defence-page.html">DEFENSE AEROSPACE & AUTOMATIVES</a></li>
                                <li><a href="Life-page.html">LIFE SCIENCE</a></li>
                                <li><a href="chemical-page.html">CHEMICAL MATERIALS & ENERGY</a></li>
                                <li><a href="banking-page.html">BANKING,FINANCIAL SERVICES & INSURENCE SECTOR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOLUTION</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="solution-1-nav.html">B2B & B2 CONSULTING</a></li>
                                <li><a href="solution-2-nav.html">MARKET RESEARCH REPORTS</a></li>
                                <li><a href="solution-3-nav.html">DATA ANALYTICS</a></li>
                                <li><a href="solution-4-nav.html">IT SOLUTION</a></li>
                                <li><a href="solution-5-nav.html">SEO & TRANSLATION SERVICES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="resources-nav.html">RESOURCES</a>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="aimbox.html">AIM BOX</a></li>
                        <li><a href="contect.html">CONTACT US</a></li>
                    </ul>
                </div>

                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>

        <!-- nav page first -->

        <div class="nav1">
            <div class="consumer-page-head">
                <div class="consumer-page-middle">
                    <h1>IT Solutions</h1>
                </div>
            </div>
        </div>

        <section>
            <div class="solution-1-class">
                <div class="solution-2-class">
                    <p>Sheer Analytics and Insights is a global IT solutions provider that offers a wide range of
                        services in IT solutions covering FTE in Javascript, Python, Node JS, and other technologies,
                        website designing, and software designing and coding. In today's competitive digital landscape,
                        businesses need to keep up with the latest technologies and online marketing strategies to stay
                        ahead of the competition. Sheer Analytics and Insights provides comprehensive IT solutions to
                        help businesses achieve their goals.
                    </p>

                    <br>
                    <h1>Full-Time Equivalent (FTE):</h1>
                    <br>
                    <p>Full-time equivalent (FTE) in Javascript, Python, and Node JS are highly sought after skills in
                        the IT industry. Sheer Analytics and Insights provides businesses with dedicated resources for
                        these technologies, allowing them to focus on developing cutting-edge software applications. The
                        FTE model provides a cost-effective solution for businesses looking to expand their IT
                        capabilities without hiring additional staff.</p>
                    <br>

                    <h1>Website Designing:</h1>
                    <p>Website designing is a critical aspect of any business's online presence. Sheer Analytics and
                        Insights provides website design services that help businesses create attractive and functional
                        websites that are easy to navigate. Their website designs are optimized for all devices and
                        platforms, ensuring that customers can access the website from any device. This helps businesses
                        attract more visitors and increase their online visibility.
                    </p>
                    <br>

                    <h1>Software Designing and Coding</h1>
                    <p>Software designing and coding are essential for businesses that want to create custom software
                        applications. Sheer Analytics and Insights provides software designing and coding services that
                        help businesses create applications tailored to their specific needs. Their software solutions
                        are designed to be user-friendly, scalable, and secure. This helps businesses streamline their
                        operations and improve efficiency.
                    </p>
                    <br>
                    <p>For any queries reach us at <a
                            href="mailto:consulting@sheeranalyticsandinsights.com">consulting@sheeranalyticsandinsights.com</a>
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </section>
        <footer class="footer-head">
            <div class="footer-head-2">
                <div class="footer-head-3">
                    <h1>Sheer Analystics & Insights</h1>
                    <a href="#" class="companies-footer-logo1"><img src="../assets/Google-Reviews.webp"></a>
                    <a href="#" class="companies-footer-logo2"><img src="../assets/satisfaction.webp"></a>
                    <a href="#" class="companies-footer-logo3"><img src="../assets/dmca-logo.webp"></a>
                    <a href="#" class="companies-footer-logo4"><img src="../assets/clutch-logo.webp"></a>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="footer-head-4">
                <div class="footer-data">
                    <h3>About us</h3>
                    <br>
                    <li href="#">About</li>
                    <br>
                    <li href="#">Contact Us</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">Testiomonials</li>
                    <br>
                    <li href="#">FAQs</li>
                    <br>
                    <li href="#">Health And Safety</li>
                    <br>
                    <li href="#">Compliance</li>
                    <br>
                    <li href="#">Corporate & Social</li>
                    <br>
                    <li href="#">Industry Updates</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Consulting Services</h3>
                    <br>
                    <li href="#">Business Consulting</li>
                    <br>
                    <li href="#">Data Consulting & Analystics</li>
                    <br>
                    <li href="#">IT & Telecom Consulting Services</li>
                    <br>
                    <li href="#">Customer Tracking & Behavior Analysis</li>
                    <br>
                    <li href="#">Regulatory Enviorment Analysis</li>
                    <br>
                    <li href="#">Medical Technology Assessment</li>
                    <br>
                    <li href="#">Value chain Assessment</li>
                    <br>
                    <li href="#">Pharmaceutical Consulting</li>
                    <br>
                    <li href="#">View All Consulting Services →</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Quick Links</h3>
                    <br>
                    <li href="#">Case Studies</li>
                    <br>
                    <li href="#">Privacy policy</li>
                    <br>
                    <li href="#">Disclaimer</li>
                    <br>
                    <li href="#">Media Citations</li>
                    <br>
                    <li href="#">Our Clients</li>
                    <br>
                    <li href="#">HR Compliance</li>
                    <br>
                    <li href="#">Data Compliance</li>
                    <br>
                    <li href="#">GDPR Compliance</li>
                    <br>
                    <li href="#">Sitemap</li>
                    <br>
                </div>

                <div class="footer-data">
                    <h3>Contact Information</h3>
                    <br>
                    <li href="#">Email:sales@sheeranalyticsandinsights.com</li>
                    <br>
                    <li href="#">Phone:+1-917-730-4660</li>
                    <br>
                    <li href="#">Phone:+91-9836913164</li>
                    <br>

                    <div class="footer-image">
                        <img src="../assets/Credence-Research-Payment.webp" width="300" height="91">
                    </div>
                </div>
            </div>
            <hr class="partition-footer">

            <div class="end-footer">
                <div class="end-data">
                    <a href="#">©2023 Sheer Analystics. All Rights Reserved.</a>

                    <div class="social-footer">
                      
                        <a><i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

</html>